#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: configure-stamp
configure-stamp:
	dh_testdir

	touch configure-stamp


build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	touch $@


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	dh_clean 


# Build architecture-independent files here.
binary-indep: build-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_installemacsen
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# Build architecture-dependent files here.
binary-arch: build-arch


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary configure
